@model L01P022021AR601.Models.facultades

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>facultades</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.facultad">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
